@page "/Topic/Edit/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using LMS.Shared.Models
@attribute [Authorize]
@inject HttpClient HttpModule
@inject NavigationManager Navigate
@inject IToastService toastService

@if(this.errorMessage != null){
    <div class="alert alert-danger my-5" role="alert">
      @errorMessage <a @onclick="errormsg" class="alert-link">Go to home page</a>. Click on link.
    </div>
}
<EditForm Model="@Topics" OnValidSubmit="@OnUpdate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row justify-content-center align-items-center">
        <div class="card col-sm-6 px-0">
            <h4 class="card-header text-center">Edit Topic</h4>
                <div class="card-body">
                    <div class="row">
                        <div class=col-md>
                            <label for="name" class="form-text">Name</label>
                            <InputText class="form-control" id="name" @bind-Value="Topics.Name" /><br />
                            <ValidationMessage For="@(() => Topics.Name)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <select class="form-control" @onchange="@TopicClicked">
                                <option value="">@videos[id].Name</option>
                                @if (videos != null)
                                {
                                    @foreach (var vid in videos)
                                    {
                                        <option value="@vid.VideoId">@vid.Name</option>
                                    }
                                }
                            </select>
                        </div> 
                    </div><br />
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
        </div> 
    </div>  
</EditForm>

@code {
    private Topic? Topics = new();
    private IList<Video>? videos = new List<Video>();
    private string? errorMessage;
    [Parameter]public int id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            try
            {
                Topics = await HttpModule.GetFromJsonAsync<Topic>($"api/Topics/{id}");
                videos = await HttpModule.GetFromJsonAsync<IList<Video>>($"api/Videos");
            }
            catch (Exception)
            {
                toastService.ShowError("Dont Have access only admin can access this page", "Error");
                errorMessage = "Dont Have access only admin can access this page";
            }
        }
        catch(AccessTokenNotAvailableException e)
        {
            e.Redirect();
            toastService.ShowInfo("Login is Nessecary..", "Login");
        }
    }

    public async Task OnUpdate()
    {
        try
        {
            await HttpModule.PostAsJsonAsync($"api/Topics/{id}", Topics);
            toastService.ShowInfo("Updated Successfully", "Topic");
            Navigate.NavigateTo("Topic/View");
        }
        catch(Exception)
        {
            toastService.ShowError("Error Occured on server response", "Error");
            errorMessage = "Error Occured on server response";
        }
    }

    public void TopicClicked(ChangeEventArgs Event)
    {        
        Topics.VideoId = int.Parse(Event.Value.ToString());
        this.StateHasChanged();
    }

    public void errormsg()
    {
        Navigate.NavigateTo("Topic/View");
    }
}
